{% extends '::base.html.twig' %}

{% block body %}

<div style="background-color: #D9CC3B; width: 20%;margin-bottom: 5%;padding: 3%">
    <div style="background-color: white;">
        <a style="float:left" href="{{ path('core_post_update', {'id': post.id}) }}">update post</a>
        <a style="float:right" href="{{ path('core_post_delete', {'id': post.id}) }}">delete post</a>
        <br>
        <img src="{{ asset('uploads/posts/' ~ post.imageName)}}" />
        <br>
        {{ post.content }}
    </div>
</div>
<br>
<a href="{{ path('core_blog_comment_add', {'postId': post.id}) }}">ADD comments</a>
<br>
{% block comment %}
<h4>Listing comments</h4>
{{ render(controller('CoreBlogBundle:Comment:index', { 'postId': app.request.get('id') })) }}
{% endblock comment %}

{% endblock body %}


