<html>
<head></head>
<body>
Gallery
<br>
<br>
<a href="{{ path('core_album_create') }}">Create Album</a>
<br>
<br>
Listing Album
{% for album in albums %}
<div style="background-color: #313131;padding: 2%;margin-bottom: 2%;width: 30%;">
    <div style="background-color: white">
        <a href="{{ path('core_album_update', {'id': album.id}) }}">update</a>
        <a href="{{ path('core_album_delete', {'id': album.id}) }}">delete</a>
        <a href="{{ path('core_album_show', {'id': album.id}) }}"><h3>{{ album.name }}</h3></a>
    </div>
</div>
{% endfor %}
</body>
</html>
