{% for photo in photos %}
    <div style="width: 20%; background-color: #0088CC;padding: 1%;margin-bottom: 2%">
        <div style="background-color: white">
            <a href="{{ path('core_photo_update', {'albumSlug': app.request.get('albumSlug'),'photoId': photo.id}) }}">update</a>
            <a href="{{ path('core_photo_delete', {'albumSlug': app.request.get('albumSlug'),'photoId': photo.id}) }}">delete</a>
            <br>
            <br>
            <a href="{{ path('core_photo_show', {'albumSlug': app.request.get('albumSlug'),'photoId': photo.id}) }}">{{ photo.imageName }}</a>
            <br>
            <br>
            {{ photo.content }}
            <br>
            <br>
            <a href="{{ path('core_photo_profile', {'albumSlug': app.request.get('albumSlug'), 'photoId': photo.id }) }}">Add to profile</a>
            <br>
            <br>
            <img src="{{ asset('uploads/photo/' ~ photo.imageName)}}" />
        </div>
    </div>
{% endfor %}
